* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fretboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.string {
  flex: 1;
  display: flex;
  flex-direction: row;

  background: black;
}

.fret {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 30px;
  cursor: pointer;

  border-left: 2px solid lightgrey;
  border-right: 2px solid lightgrey;

  color: white;
}

.fret input {
  opacity: 0;
}

.fret:hover {
  background: rgba(255, 255, 255, 0.3);
}

.fret:first-child {
  flex: 0;
}

.fret.checked .note {
  opacity: 1;
}

.fret::before {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: grey;
  height: 2px;
  width: 100%;
  content: "";
}

.note {
  opacity: 0;
}

.hint {
  background: rgba(81, 255, 0, 0.808);
}
